.tabs {
	display: flex;
	justify-content: flex-start;
	list-style-type: none;
	padding: 0;
	&--horizontal {
		
	}
	&__item {
		
	}
	&__item ~ &__item {
		margin-left: 50px;
	}
	&__link {
		display: block;
		padding: 3px 10px;
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: bold;
		&.active {			
			background: rgb(200, 3, 26);
			color: rgb(255, 255, 255);
		}
	}
}