.catalog-menu-wrap
	.container
		ul.catalog-menu
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Marble
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Stone
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Wood
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Cement
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Design
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Commercial
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Vertical
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Ceramic
			li.catalog-menu__item
				a.catalog-menu__link(href="#") Decoration
		.catalog-menu-products
			.catalog-menu-slider
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-2.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-2.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-3.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-4.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-5.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-6.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-7.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-8.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-5.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-6.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-7.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-8.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-5.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-6.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-7.jpg", alt="")
					span LIMESTONE
				a.catalog-menu-slider__item(href="#")
					img(src="/img/collection__menu-8.jpg", alt="")
					span LIMESTONE
			.main-menu-slider-nav
				a.btn--arrow-right.pull-left(href="#") SEE ALL
				.catalog-slider-arrows.pull-right
					button.arrow.arrow-prev
					button.arrow.arrow-next