footer.footer.footer-inner 
	.container
		form.subscribe
			input.subscribe__input(type="text" placeholder="Subscribe")
			input(type="submit" value="").subscribe__button
		.row
			.col-xs-6.copyright.light-theme © Estima Company						
			.col-xs-6.social.text-right
				a.social__item.social__item--vk(href="#")
				a.social__item.social__item--fb(href="#")
				a.social__item.social__item--youtube(href="#")