header.header
	.container
		.site-logo.light-theme
			a(href="/")
		.header__panel
			button.icon.icon__auth.light-theme
			button.icon.icon__search.light-theme.btn-modal(data-target-modal="search-modal")
			button.select-language rus
			.main-menu-panel
				button.main-menu-button.light-theme.btn-modal(data-target-modal="main-menu-modal")
					| menu
					span.main-menu-button-icon