.modal-hidden
	#search-modal
		.search-layout__form.container
			.box-modal_close
			form.search-form
				.search-form__title.text-center JUST TYPE AND PRESS 'ENTER'
				input.search-form__input.text-center(type="search")