@media screen and (max-width: 480px) {
	*[class*="col-"] {
		padding-right: 10px;
		padding-left: 10px;
	}
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.page-title {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.news {
		&-item {
			a {
				display: block;
			}
			&__image {
				display: block;
				width: 100%;
			}
			&__content {
				display: block;
				padding: 20px 15px;				
			}			
			&__text {
				margin-top: 10px;
			}
			&__info {
				position: relative;
				bottom: 0;
				left: 0;
				margin-top: 30px;
			}
		}
		&-slider {
			&__title {
				font-size: 25px;	
				&::after {
					display: none;	
				}
			}
			p {
				padding: 0 20px!important;	
			}
		}	
		&-slider-wrap {
			margin-bottom: 50px;	
			.slider-dots .slick-dots {
				bottom: -35px;	
				li {
					background: rgb(183, 183, 183);
					&.slick-active {		
						background: rgb(200, 3, 26);
					}
				}
			}	
		}		
	}
	.main-contacts {
		
	}
	.main-contacts {
		& > .page-title {
			display: block;
			margin-top: 30px;
			margin-bottom: 20px;
			text-shadow: none;
		}
		&__map {
			max-height: 300px;
			.page-title {
				display: none;
			}
		}
		&-offices {
			flex-direction: column;
			&__item {
				width: 100%;
				margin-bottom: 20px;
			}
			&__item + &__item {
				border-left: none;
				border-top: 1px rgb(183, 183, 183) solid;
				padding-top: 20px;
				padding-left: 10px;
			}		

		}
	}
	.main-portfolio-slider__text {
		display: none;
	}

	.model {
		&-top {	
			.btn-catalog-menu {
				width: 100%;	
				top: 0;
				left: 0;
				padding: 10px 20px 10px 10px;
			}
			.catalog-menu-slider {
				margin-top: 70px;	
			}
			&-content__title {
				font-size: 28px;	
			}
			.slick-dots {	
				display: none!important;	
			}			
		}		
	}
	.share-block {	
		width: 100%;
		height: 45px;
		&__btn-open, &__link {
			width: 50px;
			height: 45px;
			background-size: auto 50%;
		}		
		&__panel {
			right: 45px;
		}		
	}
	.tabs {
		&-panel {
			position: relative;
			margin-bottom: 35px;
			&-btn {
				top: -60px;									
			}			
		}		
	}
	.portfolio {
		&-item {
			margin-bottom: 40px;
			&__image {
				img {
					margin-bottom: 15px;
				}
			}
			&__title {
				padding-left: 50px;
				&::before {
					width: 35px;
				}
			}
		}
	}
	.copyright {
		margin: 0;
	}
	.footer {
		.container {
			flex-wrap: wrap;
		}	
		.btn--subscribe {
			width: 100%;
			order: -1;
			margin-bottom: 30px;
			text-align: left;
		}
	}	
	.visible-xss {
		display: block!important;
	}
	.hidden-xss {
		display: none!important;
	}
}