.main-production
	.main-production-desc
		.main-production-desc__col
			.page-title PRODUCTION
			p Company Estima - a recognized domestic leader in the production of porcelain. We are the first manufacturer who has organized the production of this material in our country.
			div
				a(href="#").btn--arrow-right SEE ALL
		.main-production-desc__col.main-production-desc__col--icon
			img(src="/img/icon__youtube.png", alt="").bg-video-button
			span click to play
	.main-production-video
		.main-production-video__item
			.main-production-video__content
				a.main-production-video__modal(data-video-url="https://www.youtube.com/embed/UNeWLCRpQSA", href="#")
					img(src="https://i.ytimg.com/vi/UNeWLCRpQSA/hqdefault.jpg?custom=true&w=196&h=110&stc=true&jpg444=true&jpgq=90&sp=68&sigh=JcDHzIIhSO4-xORm4bkc-pWfcDQ", alt="")
			.main-production-video__title
				p The name for the video in a few lines
		.main-production-video__item
			.main-production-video__content
				a.main-production-video__modal(data-video-url="https://www.youtube.com/embed/tF8F_9LNiTY", href="#")
					img(src="https://i.ytimg.com/vi/tF8F_9LNiTY/hqdefault.jpg?custom=true&w=196&h=110&stc=true&jpg444=true&jpgq=90&sp=68&sigh=VmwXbVgyV1b2Oh_UUceTNtHBdNg", alt="")
			.main-production-video__title
				p The name for the video in a few lines
		.main-production-video__item
			.main-production-video__content
				a.main-production-video__modal(data-video-url="https://www.youtube.com/embed/Dxi_gZPOebw", href="#")
					img(src="https://i.ytimg.com/vi/Dxi_gZPOebw/hqdefault.jpg?custom=true&w=196&h=110&stc=true&jpg444=true&jpgq=90&sp=68&sigh=5IVTd08PoUxqB8wkUIpFqiC2Nnc", alt="")
			.main-production-video__title
				p The name for the video in a few lines
		.main-production-video__item
			.main-production-video__content
				a.main-production-video__modal(data-video-url="https://www.youtube.com/embed/dtzFfTTXEgs", href="#")
					img(src="https://i.ytimg.com/vi/dtzFfTTXEgs/hqdefault.jpg?custom=true&w=196&h=110&stc=true&jpg444=true&jpgq=90&sp=68&sigh=Qu5dqQ2BSOceS30PqpItk1GQ3cI", alt="")
			.main-production-video__title
				p The name for the video in a few lines