.row.hr-mobile
.main-page-wrap
	.page-title NEWS & EVENTS
	.main-news-slider-mobile
		.main-news-slider-mobile__item
			img(src="/img/main-news__slider-big.jpg", alt="")
			.main-news-slider-mobile__item-content
				.main-news-slider-mobile__item-title Promo START
				p Conveniently, the raws divided into main raw additional 
		.main-news-slider-mobile__item
			img(src="/img/main-news__slider-big.jpg", alt="")
			.main-news-slider-mobile__item-content
				.main-news-slider-mobile__item-title Promo START
				p Conveniently, the raws divided into main raw additional 
		.main-news-slider-mobile__item
			img(src="/img/main-news__slider-big.jpg", alt="")
			.main-news-slider-mobile__item-content
				.main-news-slider-mobile__item-title Promo START
				p Conveniently, the raws divided into main raw additional
	ul.tabs.tabs--horizontal.tabs--main-news
		li.tabs__item
			a.tabs__link.active(href="#tab1") ALL
		li.tabs__item
			a.tabs__link(href="#tab2") NEWS
		li.tabs__item
			a.tabs__link(href="#tab3") EVENTS
		li.tabs__item
			a.tabs__link(href="#tab4") ARCTICLES
		li.tabs__item
			a.tabs__link(href="#tab5") PROMO
		li.tabs__item
			a.tabs__link(href="#tab6") EXHIBITION
	.main-news.active(id="tab1")
		.main-news-item.main-news-slider
			.main-news-slider__item
				.main-news-slider__item-image(style="background-image: url('/img/main-news__slider.jpg')")
				.main-news-slider__item-content
					.main-news-slider__item-title Promo START
					p Conveniently, the raws divided into main raw additional 
			.main-news-slider__item
				.main-news-slider__item-image(style="background-image: url('/img/main-news__slider.jpg')")
				.main-news-slider__item-content
					.main-news-slider__item-title Promo START
					p Conveniently, the raws divided into main raw additional 
			.main-news-slider__item
				.main-news-slider__item-image(style="background-image: url('/img/main-news__slider.jpg')")
				.main-news-slider__item-content
					.main-news-slider__item-title Promo START
					p Conveniently, the raws divided into main raw additional
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-1.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-2.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-3.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016
	.main-news(id="tab2")
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-3.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016		
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-1.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-2.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016	
	.main-news(id="tab3")
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-3.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016				
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-2.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016	
	.main-news(id="tab4")
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-1.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016
		.main-news-item
			img.main-news-item__image(src="/img/main-news__item-2.jpg", alt="")
			.main-news-item__content
				.main-news-item__text
					p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
				.main-news-item__info
					span.main-news-item__info--category News
					span.main-news-item__info--date 22 August, 2016
	.main-news(id="tab5")
		p Not results
	.main-news(id="tab6")
		p Not results