.row.main-about
	.col-md-5.col-xs-12
		.page-title ESTIMA COMAPNY
		p Our company - the undisputed leader in terms of manufactured porcelain, and the widest range of products. The variety of colors and textures will surprise even the most demanding customers.
		p Here you can buy granite profitable wholesale, the price offered by the tile is the most profitable in Moscow. In the presence more than 30 collections available, which will allow you to select the granite, the size of which can be found the electronic catalog.
		p The product range constantly updated and expanded to meet the diverse needs and requirements of our customers. Modern finishes will serve for many years, it does not need special care always will delight the eyes of the original texture and exquisite design.
		a.btn--arrow-right(href="#") READ MORE
	.col-md-6.col-md-offset-1.col-xs-12
		.main-about-news
			.main-about-news-item
				.main-about-news-item__bg(style="background-image: url('/img/about-1.jpg')")
				.main-about-news-item__title
					p 10 years
				.main-about-news-item__content
					p Company Estima - a recognized domestic leader he production of porcelain . We are the first manufacturer has organized the production of this material in our country.
				a.main-about-news-item__link.btn--arrow-right(href="#") READ MORE
			.main-about-news-item
				.main-about-news-item__bg(style="background-image: url('/img/about-2.jpg')")
				.main-about-news-item__title
					p ( WE Green )
				.main-about-news-item__content
					p Production of ceramic granite  ESTIMA® meets «green trend». Raw materials from which the granite and the final product is very environmentally friendly and hygienically safe.
				a.main-about-news-item__link.btn--arrow-right(href="#") READ MORE