.company-slider-wrap
	.company-slider
		.company-slider__item
			.company-slider__title General Catalogue ESTIMA 2016!
			.company-slider__text We are pleased to announce the release of our new General Catalogue ESTIMA 2016!
			a.company-slider__link.btn--arrow-right(href="#") READ MORE
		.company-slider__item
			.company-slider__title General Catalogue ESTIMA 2016!
			.company-slider__text We are pleased to announce the release of our new General Catalogue ESTIMA 2016!We are pleased to announce the release of our new General Catalogue ESTIMA 2016!
			a.company-slider__link.btn--arrow-right(href="#") READ MORE
		.company-slider__item
			.company-slider__title General Catalogue ESTIMA 2016!
			.company-slider__text We are pleased to announce the release of our new General Catalogue ESTIMA 2016!We are pleased to announce the release of our new General Catalogue ESTIMA 2016!We are pleased to announce the release of our new General Catalogue ESTIMA 2016!
			a.company-slider__link.btn--arrow-right(href="#") READ MORE
		.company-slider__item
			.company-slider__title General Catalogue ESTIMA 2016!
			.company-slider__text We are pleased to announce the release of our new General Catalogue ESTIMA 2016!We are pleased to announce the release of our new General Catalogue ESTIMA 2016!We are pleased to announce the release of our new General Catalogue ESTIMA 2016!We are pleased to announce the release of our new General Catalogue ESTIMA 2016!
			a.company-slider__link.btn--arrow-right(href="#") READ MORE
.company-slider__nav
	button.company-slider__nav-item.company-slider__nav-prev
	button.company-slider__nav-item.company-slider__nav-next