.main-contacts
	.page-title.page-title--bg OFFICES
	.row.main-contacts__map
		.page-title.page-title--bg OFFICES
		img(src="/img/bg__main--contacts.jpg", alt="")
	.main-contacts-offices
		.main-contacts-offices__item
			.main-contacts-offices__title Central office
			.main-contacts-offices__address Mocsow, Nauchniy proezd 14A 
			a.main-contacts-offices__link-map.btn--arrow-right(href="/contacts.html") SHOW MAP
		.main-contacts-offices__item
			.main-contacts-offices__title Product facility
			.main-contacts-offices__address Noginsk, Betonnays str. 1
			a.main-contacts-offices__link-map.btn--arrow-right(href="/contacts.html") SHOW MAP
		.main-contacts-offices__item
			.main-contacts-offices__title Product facility
			.main-contacts-offices__address Samara, Mehanikov str. 20 
			a.main-contacts-offices__link-map.btn--arrow-right(href="/contacts.html") SHOW MAP