.main-catalog
	.main-catalog-slider-wrap
		.main-catalog-slider
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-1.jpg", alt="")
				span.main-catalog-tizers__title BOLERO
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-2.jpg", alt="")
				span.main-catalog-tizers__title CAPRI
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-3.jpg", alt="")
				span.main-catalog-tizers__title DREAM
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-4.jpg", alt="")
				span.main-catalog-tizers__title POLARIS
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-3.jpg", alt="")
				span.main-catalog-tizers__title DREAM
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-4.jpg", alt="")
				span.main-catalog-tizers__title POLARIS
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-1.jpg", alt="")
				span.main-catalog-tizers__title BOLERO
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-2.jpg", alt="")
				span.main-catalog-tizers__title CAPRI
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-2.jpg", alt="")
				span.main-catalog-tizers__title CAPRI
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-3.jpg", alt="")
				span.main-catalog-tizers__title DREAM
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-1.jpg", alt="")
				span.main-catalog-tizers__title BOLERO								
			a.main-catalog-tizers__item(href="#")
				img.main-catalog-tizers__image(src="img/catalog-4.jpg", alt="")
				span.main-catalog-tizers__title POLARIS
		.main-catalog-bottom-text
			p Marble is a metamorphic rock that may be foliated or non-foliated, composed	
	.main-catalog-menu
		.main-catalog-menu__title Catalogue
		ul.main-catalog-menu__list
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link.active(href="#tabs1") Marble
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link(href="#tabs2") Wood
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link(href="#") Stone
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link(href="#") Cement
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link(href="#") Design
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link(href="#") Commercial
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link(href="#") Vertical
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link(href="#") Ceramic tile
			li.main-catalog-menu__list-item
				a.main-catalog-menu__link(href="#") Decoration