.row.hr-mobile
.main-portfolio
	.page-title-wrap
		.page-title PORTFOLIO
		form.subscribe
			input.subscribe__input(type="text" placeholder="Subscribe")
			input(type="submit" value="").subscribe__button
	.main-portfolio-slider
		.main-portfolio-slider__item
			.main-portfolio-slider__image
				img(src="/img/portfolio-1.jpg", alt="")
				.main-portfolio-slider__desc
					.main-portfolio-slider__title Project name on this site in two rows
					.main-portfolio-slider__text It is ironic, but the artificial stone products are stronger and more durable natural, because on the surface of the material does not form chips, cracks and haze typical of natural granite.
					div
						a.btn--arrow-right(href="#") LEARN MORE
		.main-portfolio-slider__item
			.main-portfolio-slider__image
				img(src="/img/portfolio-2.jpg", alt="")
				.main-portfolio-slider__desc
					.main-portfolio-slider__title Project name on this site in two rows
					.main-portfolio-slider__text It is ironic, but the artificial stone products are stronger and more durable natural, because on the surface of the material does not form chips, cracks and haze typical of natural granite.
					div
						a.btn--arrow-right(href="#") LEARN MORE
		.main-portfolio-slider__item
			.main-portfolio-slider__image
				img(src="/img/portfolio-1.jpg", alt="")
				.main-portfolio-slider__desc
					.main-portfolio-slider__title Project name on this site in two rows
					.main-portfolio-slider__text It is ironic, but the artificial stone products are stronger and more durable natural, because on the surface of the material does not form chips, cracks and haze typical of natural granite.
					div
						a.btn--arrow-right(href="#") LEARN MORE
		.main-portfolio-slider__item
			.main-portfolio-slider__image
				img(src="/img/portfolio-2.jpg", alt="")
				.main-portfolio-slider__desc
					.main-portfolio-slider__title Project name on this site in two rows
					.main-portfolio-slider__text It is ironic, but the artificial stone products are stronger and more durable natural, because on the surface of the material does not form chips, cracks and haze typical of natural granite.
					div
						a.btn--arrow-right(href="#") LEARN MORE
