a {
	&:hover {
		text-decoration: none;
		color: inherit;
	}
	&:focus {
		outline: none;
		text-decoration: none;
		color: rgb(255, 255, 255);
	}
}

.clearfix {
	clear: both;
}

.hr {
	height: 0;
	margin: 30px 0;
	border-bottom: 1px rgb(231, 231, 231) solid;
	&-mobile {
		display: none;
		height: 0;
		width: calc(100% + 30px);
		margin-bottom: 30px;
		border-bottom: 1px rgb(183, 183, 183) solid;
	}
}
.full-width {
	width: 100%!important;
}
.back-link {
	position: absolute;
}
h2 {
	position: relative;
	margin-bottom: 20px;
}

p {
	font-size: 16px;	
	line-height: 26px;
}

ul {
	li {
		font-size: 16px;	
		line-height: 26px;		
	}	
}

.list-half-children {
	overflow: hidden;	
	list-style-type: none;
	padding: 0;
	margin: 10px 0 20px 0;
	li {
		position: relative;	
		float: left;
		margin-bottom: 15px;
		width: 45%;
		margin-right: 5%;
		padding-left: 20px;	
		&::before {
			content: '';
			position: absolute;	
			width: 12px;	
			height: 1px;	
			left: 0;	
			top: 12px;	
			background: rgb(0, 0, 0);
		}
	}
}

.list-search {
	padding-left: 15px;
	margin: 0;
	list-style-type: decimal;
	color: rgb(156, 156, 156);
	li {
		margin-bottom: 30px;
	}
	&__title {
		margin-bottom: 5px;
		color: rgb(0, 0, 0);
	}
	&__text {

	}
	a {
		font-size: 14px;
		color: rgb(200, 3, 26);
	}
}

.bg-line {
	font-size: 22px;
	font-family: $primary-font-bold;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 100px;
		height: 1px;
		background: rgb(200, 3, 26);
	}
}

.bg-search {
	padding-right: 30px;
	background: url("../img/icon__search--black.png") right center no-repeat;
	font-size: 22px;
	line-height: 26px;
	font-family: $primary-font-bold;
}

.p-title {
	font-family: $primary-font-bold;
}
// Modal window ---start
.modal-hidden {
	display: none;
}
.modal-video {
	display: none;
	overflow: hidden;
}
.arcticmodal-container .modal-video {
	display: block;
}
.box-modal_close { 
	display: none;
	position: absolute;
	right: 30px;
	top: 25px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	&::before, &::after {
		content: '';
		position: absolute;
		top: 15px;
		right: 0;
		width: 100%;
		height: 6px;
		border-radius: 3px;
		background: rgb(255, 255, 255);
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}

.arcticmodal-container .box-modal_close {
	display: block;
}
// Modal window ---end

// Social ---start
.social {
	&__item {
		display: inline-block;
		width: 25px;
		height: 25px;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: rgb(53, 66, 68);
		border-radius: 50%;
		&--vk {
			background-image: url('../img/icon__vk--white.png');
		}
		&--fb {
			background-image: url('../img/icon__fb--white.png');
		}
		&--youtube {
			background-image: url('../img/icon__youtube--white.png');
		}
	}
	&__item + &__item {
		margin-left: 15px;
	}
	&--fixed {
		position: fixed;
		bottom: 40px;
		right: calc(50% - 1140px/2);
	}
}
// Social ---end

.copyright {
	letter-spacing: 1px;
	transition: all 0.3s ease-in-out; 
	transform: rotate(-90deg);
	transform-origin: 0;
	&.dark-theme {
		color: rgb(255, 255, 255);
	}
	&.light-theme {
		color: rgb(0, 0, 0);
	}	
}

.site-logo {
	flex-shrink: 0;
	display: block;
	width: 138px;
	height: 34px;
	background-position: center center;
	background-repeat: no-repeat;
	&.dark-theme {
		background-image: url('../img/logo--white.png');
	}
	&.light-theme {
		background-image: url('../img/logo--black.png');
	}
	a {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.page {
	&-title-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&-title {
		position: relative;
		display: block;
		margin-bottom: 40px;
		font-size: 38px;
		font-family: $primary-font-bold;
		text-transform: uppercase;
		&--white {
			color: rgb(255, 255, 255);
		}
		&--bg {
			display: inline-block;
			width: 170px;
			text-align: center;
			background: rgba(0, 0, 0, 0.1);
		}
	}	
}

.row-flex {
	display: flex;
	flex-flow: row wrap;
}

.main-about {
	height: 100%;
	& > div {
		height: 100%;
	}
	&-news {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 90%;		
		&-item {
			position: relative;
			&__bg {
				z-index: -1;
				display: none;
				position: absolute;
				top: 0;
				left: -15%;
				right: -15%;
				height: 100%;
				width: 130%;
				margin: auto;
				background-repeat: no-repeat;
				background-size: cover;
			}
			&__title {
				margin-bottom: 30px;
			}
			&__content {
				margin-bottom: 30px;
			}
			p {
				margin: 0;
				font-size: 16px;
				line-height: 26px;
				color: rgb(255, 255, 255);
			}
		}
	}
	&-news-bg {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100vh;
		&__item {
			position: absolute;
			right: 0;
			width: 100%;
			height: 50%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			&--top {
				top: 0;	
			}
			&--bottom {
				bottom: 0;
			}
		}
	}
}

.tabs {	
	&__item {
		padding: 5px 10px;	
		&.active {
			background:	rgb(200, 3, 26);
			a {
				color: rgb(255, 255, 255);
			}
		}
	}
	a {
		color: rgb(0, 0, 0);
		font-size: 16px;	
		font-family: $primary-font-bold;
	}
	&-panel {
		position: relative;
		margin-bottom: 35px;
		&-btn {
			position: absolute;
			right: 0;
			top: -15px;
			padding: 12px 60px 12px 50px;
			border: 1px rgb(215, 3, 27) solid;
			border-radius: 30px;
			color: rgb(215, 3, 27);
			font-size: 14px;
			font-family: $primary-font-bold;
			text-transform: uppercase;
			&--logout {
				i {
					position: absolute;
					top: 12px;
					right: 40px;
					&::before, &::after {
						content: '';
						position: absolute;
						left: 0;
						top: 8px;
						display: block;
						width: 20px;
						height: 1px;
						background: rgb(215, 3, 27);
					}
					&::before {
						transform: rotate(45deg);
					}
					&::after {
						transform: rotate(-45deg);
					}
				}
			}
			&--question {
				i {
					position: absolute;
					top: 13px;
					right: 30px;
					width: 15px;
					height: 15px;
					background: url('../img/arrow__button--red.png') 0 0 / 100% 100% no-repeat;
				}
			}
		}
	}
	&-menu {
		width: 100%;
		padding: 0;
		list-style-type: none;		
		&__item {
			display: inline-block;
		}
		&__item + &__item {
			margin-left: 60px;
		}
		&__link {
			display: inline-block;
		    padding: 3px 10px;
		    color: rgb(255, 255, 255);
		    font-size: 16px;
		    font-weight: bold;
		    text-transform: uppercase;
			&.active, &:hover {
				background: rgb(200, 3, 26);
		    	color: rgb(255, 255, 255);
			}
		}
		&-btn {
			display: none;
			width: 100%;
		    text-align: left;
		    cursor: pointer;
		    padding: 20px 40px 20px 20px;
		    background-color: white;
		    background-image: url('../img/arrow__menu--down.png');
		    background-repeat: no-repeat;
		    background-position: 95% center;
		    border: 1px rgb(229, 229, 229) solid;
		    font-size: 16px;
		    line-height: 1;
		    color: black;
		}
	}
}

.personal {
	padding-top: 60px;
	padding-bottom: 180px;
	background: url('../img/bg__header-personal.jpg') center top / cover no-repeat;		
	&-form {
		margin-top: -180px;
		padding: 40px 40px 55px 40px;
		background: rgb(255, 255, 255);
		&-wrap {
			padding-bottom: 90px;
			background: rgb(245, 245, 245);
		}
		&__title {
			line-height: 1;
			font-size: 22px;
			font-family: $primary-font-bold;
		}
		label {
			margin-bottom: 15px;
			color: rgb(153, 153, 153);
			font-size: 16px;			
			font-family: $primary-font-bold;
		}
		input[type="text"] {
			display: block;
			width: 100%;
			margin-bottom: 35px;
			padding: 15px 20px;
			border: 1px rgb(229, 229, 229) solid;
			background: rgb(247, 247, 247);
			font-size: 16px;
		}
		input[type="submit"] {
			padding: 15px 90px;
			background: rgb(189, 189, 189);
			border-radius: 40px;
			border: none;
			line-height: 1;
			color: rgb(255, 255, 255);
			font-size: 18px;
			font-family: $primary-font-bold;
			letter-spacing: 3px;
		}
		&-bottom {
			position: relative;
			padding-top: 20px;
		}
		&__submit {
			z-index: 100;
			position: absolute;
			top: 0;
			left: calc(50% - 120px);
		}
		&__subscribe {
			.jq-checkbox {
				margin-right: 15px;
			}
			label {
				position: relative;
				top: -2px;
				color: rgb(0, 0, 0);
				font-family: $primary-font-regular;
			}
		}
		a {
			display: inline-block;
			color: rgb(200, 3, 26);
		}
		.hr {
			margin: 20px 0 40px 0;
		}
	}
}

.news {
	&-tabs {
		position: relative;	
		.tabs {
			&-float {				
				position: absolute;	
				top: -15px;	
				padding: 15px 20px;	
			}
			background:	rgb(255, 255, 255);
		}
	}
	&-content {
		overflow: hidden;
		max-height: 0px;
		opacity: 0;
		transition: opacity 0.7s ease-in-out;
		&.active {
			padding-top: 60px;
			max-height: 9999px;
			opacity: 1;
		}
	}
	&-item {
		margin-bottom: 30px;
		a {
			display: table;
			width: 100%;
			color: rgb(0, 0, 0);
		}
		&__image {
			display: table-cell;
		}
		&__content {
			position: relative;
			display: table-cell;
			width: 100%;
			padding: 0 20px;
			vertical-align: top;
			border: 1px rgb(215, 215, 215) solid;
		}
		&__text {
			margin-top: 35px;
		}
		&__info {
			position: absolute;
			bottom: 35px;
			left: 20px;
			&--category {
				padding-right: 12px;
				color: rgb(204, 8, 31);
			}
			&--date {
				color: rgb(138, 138, 138);
			}
		}
	}	
}

.news-detail {
	&__title {
		margin-bottom: 20px;
		font-size: 22px;
		font-family: $primary-font-bold;
	}
	.news-item__info {
		position: relative;
		bottom: 0;
		left: 0;
		margin-bottom: 30px;
	}
	&-images {
		width: 50%;
		margin-right: 30px;
		margin-bottom: 40px;
	}
	&-slider {
		margin-bottom: 20px;
		img {
			width: 100%;
		}
		&-nav {

		}
		&-thumbs {
			display: inline-block;
			width: calc(100% - 70px);
			&__image {
				position: relative;
				display: block;
				margin-right: 15px;
				img {
					width: 100%;
				}
				&.slick-current::before {
					position: absolute;
					content: '';
					bottom: 0;
					left: 0;
					display: block;
					width: 100%;
					height: 4px;
					background: rgb(205, 16, 38);
				}
			}
		}
	}
	&-arrows {
		position: relative;
		margin-top: 30px;
	}
	&-content {
		a {
			color: rgb(200, 3, 26);
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			margin-bottom: 30px;
			font-size: 16px;
			line-height: 26px;
		}
	}
	&-bottom {
		    position: relative;		    
		    padding: 50px 0;
		    background: rgb(245, 245, 245);
		    border-top: 1px rgb(219, 219, 219) solid;
		    text-align: center;
		    &__link {
		    	display: inline-block;
		    	padding: 10px 10px 10px 40px;
		    	font-size: 22px;
		    	font-family: $primary-font-bold;
		    	color: rgb(170, 170, 170);
		    	background: url('../img/main-menu-slider__arrow-left.png') left center no-repeat;
		    	&:hover {
		    		color: rgb(170, 170, 170);
		    	}
		    }
	}
}

.portfolio {
	&-item {
		margin-bottom: 30px;
		padding: 0;
		&__image {
			img {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		&__title {
			position: relative;
			padding-left: 60px;
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 10px;
				left: 0;
				height: 1px;
				width: 45px;
				background: rgb(243, 98, 104);
			}
		}
		&__name {
			margin-bottom: 5px;
			color: rgb(0, 0, 0);
			font-size: 16px;
			font-family: $primary-font-bold;
		}
		&__collection {
			font-size: 16px;
			color: rgb(141, 141, 141);
			text-decoration: underline;
		} 
	}
}

.history {
	padding-top: 30px;
	background: url('../img/bg__history.jpg') center top / cover no-repeat;
	&-slider-wrap {
		height: 665px;
		position: relative;
		& > img {
			width: 100%;
		}
	}
	&-slider-bg {
		img {
			width: 100%;
		}
	}
	&-slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		height: 100%;	
		padding-top: 130px;
		padding-left: 120px;
		padding-right: 20px;	
		&-item {
			margin-right: 10px;
			color: rgb(255, 255, 255);
			&-bg {
				display: none;
				img {
					width: 100%;
				}
			}
			&__title {
				position: relative;
				margin-bottom: 20px;
				font-size: 60px;
				font-family: $primary-font-bold;
				&::after {
					content: '';
					position: relative;
					display: inline-block;
					top: -20px;
					width: 150px;
					height: 1px;
					margin-left: 15px;
					background: rgb(200, 3, 26);
				}
			}
			&__content {
				p {
					margin-bottom: 25px;
					font-size: 16px;
					line-height: 26px;
					letter-spacing: 1px;
					&:first-child {
						font-family: $primary-font-bold;
					}
				}
			}
		}
		&-years {
			position: absolute;
			display: table;
			top: 0;
			bottom: 0;
			right: 15px;
			margin:auto;
			width: 130px;
			.slick-list {
				display: table-cell;
				height: auto!important;
				vertical-align: middle;
			}			
			&__item ~ &__item {
				margin-top: 20px;
			}
			&__item {
				padding: 5px 0;
				cursor: pointer;
				text-align: center;
				color: rgb(255, 255, 255);
				&.slick-current {
					background: rgb(200, 3, 26);
				}
			}
			.slick-arrow {
				z-index: 200;
				top: 22px;
				height: 95%;
				padding: 0 20px;
				background-color: rgb(255, 255, 255);
				background-position: center center;
				background-repeat: no-repeat;
				&::before {
					display: none;
				}
			}
			.slick-next {
				right: 0;
				background-image: url('../img/main-menu-slider__arrow-right.png');
				&:hover {
					background-image: url('../img/main-menu-slider__arrow-right--active.png');
				}
			}
			.slick-prev {
				left: 0;
				background-image: url('../img/main-menu-slider__arrow-left.png');
				&:hover {
					background-image: url('../img/main-menu-slider__arrow-left--active.png');
				}
			}
		}
		&-arrows {
			position: absolute;
			bottom: 80px;
			left: 120px;
		}
	}
}

@keyframes next-page-btn {

  0%   { bottom: 20px; }
  50% { bottom: 40px; }
  100% { bottom: 20px; }
}

.main-bottom-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 150px;
	&__all-items {
		
	}
	&-page {
		display: none!important;	
		position: fixed;	
		left: calc(50% - 40px);	
		bottom: 40px;
		width: 34px;
		height: 34px;
		background: url('../img/main__arrow-down.png') center center no-repeat;	
		cursor: pointer;
		transition: all 0.3s ease;
		&.active-nav {
			display: block!important;	
		}
		&.animate {
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.6);
			box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
			animation: next-page-btn 1.5s ease-in-out infinite;
		}	
	}
	&__prev-page {
		transform: rotate(180deg);
	}
	&__arrows {
		button {
			width: 24px;
			height: 22px;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&--left {
			float: left;
			margin-right: 10px;
			background-image: url('../img/main-menu-slider__arrow-left.png');
			&:hover {
				background-image: url('../img/main-menu-slider__arrow-left--active.png');
			}
		}
		&--right {
			float: right;
			background-image: url('../img/main-menu-slider__arrow-right.png');
			&:hover {
				background-image: url('../img/main-menu-slider__arrow-right--active.png');
			}
		}
	}
}

.main-production {
	display: flex;
	height: 100%;	
	justify-content: space-between;
	align-content: center;
	&-desc {
		display: flex;	
		&__col {
			overflow: hidden;
			display: flex;	
			flex-direction: column;	
			justify-content: center;		
			padding-right: 30px;	
			&--icon {
				flex-shrink: 0;
				text-align: center;
				text-transform: uppercase;
				img {
					margin-bottom: 10px;
				}
			}
		}
	}
	&-video {
		display: flex;	
		min-width: 160px;
		flex-direction: column;	
		justify-content: center;	
		&__item {
			
		}
		&__content {
			margin-bottom: 5px;	
			img {
				width: 100%;	
			}
		}	
		&__title {
			p {
				font-size: 14px;
				line-height: 1.4;			
			}				
		}
	}
}

.main-portfolio {
	display: flex;
	flex-direction: column;
	height: 100%;
	&-slider-wrap {
	}
	&-slider {
		.slick-list {
			overflow: visible;
		}		
		margin-top: 80px;
		&__item {
		}
		&__image {
			position: relative;
			margin-bottom: 30px;
			img {
				width: 100%;
			}
			&:hover .main-portfolio-slider__desc {
				opacity: 1;			
			}
		}
		&__desc {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			width: 100%;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			padding: 0 40px;
			background: rgba(0, 0, 0, 0.7);
			opacity: 0;
			transition: all 0.4s ease-out;
		}		
		&__title {
			margin-bottom: 10px;
			font-size: 22px;
			font-weight: bold;
			font-family: $primary-font-bold;
			line-height: 1.6;	
			color: rgb(255, 255, 255);
		}
		&__text {
			display: inline-block;
			margin-bottom: 10px;
			font-size: 16px;
			font-family: $primary-font-regular;
			color: rgb(255, 255, 255);
		}
	}
}

.main-contacts {
	display: flex;
	height: 90%;
	flex-direction: column;
	justify-content: space-between;
	&__map {
		position: relative;
		overflow: hidden;
		display: none;
		max-height: 600px;
		margin-bottom: 30px;
		.page-title {
			position: absolute;
			top: 20px;
			left: 30px;
		}
	}
	&-offices {
		display: flex;
		justify-content: space-between;
		&__item {
			width: 33%;
			padding: 0 10px;
		}
		&__title {
			margin-bottom: 10px;
			font-size: 22px;
			font-family: $primary-font-bold;
		}
		&__address {
			height: 40px;
			margin-bottom: 30px;
			font-size: 16px;
		}
		&__link-map {
			letter-spacing: 1.5px;
		}

	}
}

.contacts {	
	&__title-wrap {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	&__title {
		margin: 20px 0 0 0;
	}
	&-map {
		position: relative;
		overflow: hidden;
		max-height: 480px;
		img {
			width: 100%;
		}
	}
	&-panel {
		padding: 15px 0;
		background: rgb(52, 63, 62);
		&-input-wrap {	
			display: table;
			vertical-align: middle;						
			& > span {
				display: table-cell;
				vertical-align: middle;
				line-height: 1;			
				width: 60px;
				color: rgb(255, 255, 255);
			}
		}
		.onoffswitch {
			margin: 0 15px;
		}		
	}	
	&-offices {
		&-category {
			margin-bottom: 20px;
		}
		.row > div {
			margin-top: 30px;
		}
 		&-item {
			padding: 30px 20px;
			border: 1px rgb(229, 229, 229) solid;
			&__title {
				height: 50px;
				line-height: 1;
				font-size: 22px;
				font-family: $primary-font-bold;
			}
			&__location {
				margin-bottom: 15px;
				font-size: 16px;
			}
			&__desc {
				margin-bottom: 35px;
				font-size: 14px;
				color: rgb(131, 131, 131);
				p {
					margin-bottom: 0px;
				}
			}
			&__panel {
				overflow: hidden;
				a {
					margin-top: 5px;	
					font-size: 14px;
				}
			}
		}
	}	
}

.contacts-cart {
	&__header {
		padding: 65px 0;
		background: url('../img/bg__cart-header.png') center center / cover no-repeat;
		font-family: $primary-font-bold;
		color: rgb(255, 255, 255);
	}	
	&__title {
		margin-bottom: 15px;
		font-size: 42px;
		line-height: 1;
		text-transform: uppercase;
	}
	&__geo {
		font-size: 22px;
		line-height: 1;
	}
	&-content {
		h2 {
			margin-top: 0;
			margin-bottom: 35px;
			padding-bottom: 25px;
			border-bottom: 1px rgb(235, 235, 235) solid;
			font-size: 22px;
			font-family: $primary-font-bold;
		}
		p {
			margin-bottom: 35px;
			font-size: 16px;
		}
	}
	&-info {
		font-size: 16px;
		span {
			position: absolute;
			top: 2px;
			left: 0;
		}
		a {
			color: rgb(239, 58, 65);
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			margin: 0;
		}
		&__row {
			overflow: hidden;
			margin-bottom: 20px;
		}
		&__title {
			position: relative;
			width: 150px;
			float: left;
			padding-left: 35px;
			font-family: $primary-font-bold;
		}
		&__text {

		}
	}
	&-params {
		overflow: hidden;
		padding-top: 20px;
		margin-bottom: 50px;
		&__item {
		
		}
		&__item + &__item {
			border-left: 1px rgb(219, 219, 219) solid;
		}
		&__image {
			height: 70px;
			margin-bottom: 25px;
			line-height: 70px;		
		}
		p {
			height: 45px;
			font-size: 16px;
		}
	}
	&-nav {
		position: relative;
		margin: 30px 0;
		padding: 90px 0;
		background: rgb(245, 245, 245);
		border-top: 1px rgb(227, 227, 227) solid;
		border-bottom: 1px rgb(227, 227, 227) solid;
		&__line {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			margin: auto;
			width: 1px;
			height: 100px;
			background: rgb(227, 227, 227);
		}		
		&__item {
			display: block;
			width: 100%;
			padding: 0 30px;
			background-repeat: no-repeat;
			font-size: 22px;
			font-family: $primary-font-bold;
			color: rgb(0, 0, 0);
			span {
				font-size: 16px;
				font-family: $primary-font-regular;
				color: rgb(131, 131, 131);
			}
			&--prev {
				background-position: left center;
				background-image: url("../img/main-menu-slider__arrow-left.png");
				&:hover {
					background-image: url("../img/main-menu-slider__arrow-left--active.png");
				}
			}
			&--next {				
				background-position: right center;
				background-image: url("../img/main-menu-slider__arrow-right.png");
				&:hover {
					background-image: url("../img/main-menu-slider__arrow-right--active.png");
				}
			}
		}
	}
}

.catalog {
	&-header {
		padding: 50px 0 100px 0;	
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../img/bg__catalog-header.png');
		&__title {
			margin-bottom: 40px;
			color: rgb(255, 255, 255);
			font-size: 42px;
			font-family: $primary-font-bold;
		}
		&__current-category {
			width: 100%;
			text-align: left;
			cursor: pointer;
			padding: 20px 40px 20px 20px;
			background-color: rgb(255, 255, 255);
			background-image: url('../img/arrow__menu--down.png');
			background-repeat: no-repeat;
			background-position: 95% center;
			border: 1px rgb(229, 229, 229) solid;
			font-size: 16px;
			line-height: 1;
			color: rgb(0, 0, 0);
		}
		&-menu {
			&__item {
				overflow: hidden;	
				float: left;
				width: 225px;
				border-left: 1px rgb(115, 115, 115) solid;
			}
			&__link {
				margin-left: 10px;	
				padding: 5px 10px;
				color: rgb(255, 255, 255);
				line-height: 36px;	
				font-size: 18px;
				font-family: $primary-font-bold;
				&.active, &:hover {
					background: rgb(189, 1, 4);
					color: rgb(255, 255, 255);
				}
			}
		}
	}
	&__title {
		display: inline-block;
		margin-top: -25px;	
		margin-bottom: 20px;	
		padding: 15px 100px 0 25px;	
		background:	rgb(255, 255, 255);
		font-size: 32px;
		font-family: $primary-font-bold;		
	}
	&-filter {
		display: table;
		width: 100%;
		margin-bottom: 30px;
		&-mobile {
			background: rgb(238, 46, 53);
			margin-bottom: 30px;
			&__button {
				padding: 15px 0;
				width: 100%;
				font-size: 18px;
				font-family: $primary-font-bold;
				color: rgb(255, 255, 255);
				text-align: left;
				background: url('../img/arrow__menu-white--down.png') right center no-repeat;
			}
		}
		&-item {
			display: table-cell;
			position: relative;
			width: 16%;
			cursor: pointer;
			padding: 0;
			border-width: 0 0 0 1px;
			border-color: rgb(211, 211, 211);
			border-style: solid;
			text-align: center;
			&:last-child {
				border-width: 0 1px 0 1px;
			}
			&:last-child &__sub {
				left: auto;
				right: 0;
			}			
			&-arrow {
				display: inline-block;
				width: 12px;
				height: 8px;
				margin-left: 10px;
				background: url('../img/arrow__select--down.png') 0 0 no-repeat;
			}
			span {
				display: block;
				padding: 5px 5px 15px 5px;
				border-width: 1px;
				border-color: rgb(255, 255, 255);
				border-style: solid;
				font-size: 14px;
				color: rgb(0, 0, 0);
				transition: all 0.5s ease;				
				&::before {
					transition: all 0.5s ease;
				}
			}
			&__sub {
				z-index: -1;
				opacity: 0;
				position: absolute;
				top: calc(100% - 1px);
				left: 0;
				width: 500px;
				padding: 20px 20px 10px 20px;
				background: rgb(255, 255, 255);
				border-width: 1px;
				border-color: rgb(204, 204, 204);
				border-style: solid;
				box-shadow: -11.331px 30px 54px 0px rgba(0, 0, 0, 0.31);
				text-align: left;
				transition: all 0.1s ease-in-out;
			}
			&__checkbox {
				display: inline-block;
				width: 130px;	
				margin-bottom: 20px;			
				label {
					cursor: pointer;
					position: relative;
					padding-left: 15px;
					top: -2px;
				}
			}
			&:hover &__sub{
				z-index: 100;
				opacity: 1;
				transition-delay: 0.1s;
			}
			&:hover span {
				position: relative;
				border-color: rgb(204, 204, 204);
				box-shadow: -11.331px 30px 54px 0px rgba(0, 0, 0, 0.31);
				background-color: rgb(255, 255, 255);
				color: rgb(189, 1, 4);
				&::before {
					z-index: 110;
					content: '';
					display: block;
					position: absolute;
					bottom: -1px;
					left: 0;
					width: 100%;
					height: 1px;
					background: rgb(255, 255, 255);
				}
			}
		}
	}
	&-tizers {
		&__item {	
			position: relative;	
			margin-bottom: 30px;	
		}
		&__image {
			width: 100%;
		}
		&__title {
			position: absolute;
		    bottom: 20px;
		    left: 15px;
		    padding: 3px 8px;
		    background: rgba(0, 0, 0, 0.3);
		    color: white;
		    font-size: 18px!important;
		    font-weight: bold;	
		}
		&-popup {
			z-index: -1;
			opacity: 0;	
			position: absolute;	
			top: -10px;
			right: -10px;
			left: -10px;
			margin: auto;
			width: calc(100% + 20px - 30px);
			border-width: 1px;
			border-width: 1px;
			border-color: rgb(204, 204, 204);
			border-style: solid;
			background-color: rgb(255, 255, 255);
			box-shadow: -11.331px 18.858px 54px 0px rgba(0, 0, 0, 0.31);
			transition: all 0.3s ease-out;
			&__image {
				img {
					width: 100%;
				}
				position: relative;
				padding: 10px;
			}
			.catalog-tizers__title {
				left: 10px;
			}
			&__desc {
				padding: 0 10px;
			}			
		}
		&__item:hover {
			.catalog-tizers-popup {
				z-index: 100;
				opacity: 1;
			}
		}
		&-sample {
			padding: 0 10px 10px 10px;
			&__image {
				width: 18%;
				margin-right: 2%;
				margin-bottom: 2%;
			}
		}
		&-link {
			position: relative;
			top: 1px;
			display: block;
			padding: 20px 0;
			background: rgb(203, 7, 30);
			text-align: center;
			&:hover span {
				text-decoration: none;
			}
		}
		&__loop {
			z-index: 1; 
			position: absolute;
			right: 20px;
			bottom: 20px;
			width: 45px;
			height: 45px;
			background-color: rgb(255, 255, 255);
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url('../img/icon__loop.png');
			transition: all 0.3s ease;
		}		
	}
	&-desc {
		margin-top: -140px;
		padding: 200px 0 90px 0;
		background: rgb(245, 245, 245);
		&--nomargin {
			margin-top: 0;
			padding: 90px 0;
		}
		p {
			padding: 0 30px;
			font-size: 16px;
			line-height: 26px;
			color: rgb(131, 131, 131);
		}
	}
}

.property {
	&-tabs-wrap {
		padding: 12px 0;	
		background: rgb(52, 63, 62);		
	}
	&-tabs {
		width: 100%;
		text-align: center;
		&__item {
			display: inline-block;
			cursor: pointer;
			padding: 10px 15px;
			margin: 0 20px;
			border-radius: 30px;
			line-height: 1;
			font-size: 16px;
			font-family: $primary-font-bold;
			color: rgb(255, 255, 255);
			vertical-align: middle;
			&:hover, &.active {
				background: rgb(255, 255, 255);
				color: rgb(52, 63, 62);
				transition: all 0.3s ease;
			}
		}
		&__item + &__item {
			margin-left: 15px;
		}
	}	
	&-tabs-content-wrap {
		overflow: hidden;
		margin-bottom: 60px;
		padding: 60px 0 70px 0;
		background: rgb(245, 245, 245);
		.container {
			position: relative;
		}
	}
	&-tabs-content {
		position: absolute;
		opacity: 0;
		&.active {
			position: relative;
			opacity: 1;
			.property-mobile-title {
				i {
					transform: rotate(180deg);
				}
			}
		}
	}
	&-mobile-title  {
		display: none;
		cursor: pointer;
		position: relative;
		padding: 20px 10px;
		border-top: 1px rgb(226, 226, 226) solid;
		span {			
			font-size: 16px;
			line-height: 16px;
			font-weight: bold;
			font-family: $primary-font-bold;
		}
		i {
			position: absolute;
			top: 0;
			right: 10px;
			display: block;
			width: 21px;
			height: 100%;
			background: url('../img/arrow__menu--down.png') 0 center no-repeat;
			transform: rotate(0);
			transition: transform 0.3s ease-in-out;
		}
	}
	&-table {
		width: 100%;
		margin: 0;
		border-style: solid;
		border-color: rgb(236, 236, 236);
		border-width: 1px 0 0 1px;
		&__title {
			padding: 15px 30px;
			background: rgb(219, 219, 219);
			font-size: 16px;
			font-family: $primary-font-bold;
		}	
		td {
			padding: 15px 30px!important;
			border-style: solid;
			border-color: rgb(236, 236, 236);
			border-width: 0 1px 1px 0;
			background: rgb(255, 255, 255);
			&:first-child {
				font-weight: bold;
			}
		}
	}
	&-block {
		overflow: hidden;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px rgb(219, 219, 219) solid;
		& > div {
			padding-left: 0;
		}
		&--popup {
			padding-top: 15px;
			padding-bottom: 15px;
			border-top: none;
			border-bottom: 1px rgb(219, 219, 219) solid;
			& > div {
				padding-left: auto;
			}
		}
		&__image {
			display: table;
			img {
				vertical-align: bottom;
			}
			img + img {
				margin-left: 20px;
			}
		}
	}
	&__title {
		margin-bottom: 10px;
		font-size: 16px;
		font-family: $primary-font-bold;
	}
	&__name {
		margin-right: 15px;
		font-size: 16px;
		font-family: $primary-font-bold;
	}
	&__value {
		display: block;
		margin-bottom: 5px;
		font-size: 16px;
		color: rgb(141, 141, 141);
		text-decoration: underline;
	}
}

.model {
	&-top {
		position: relative;
		&-slider {
			img {

			}
			&__nav {

			}
		}
		.btn-catalog-menu {
			z-index: 400;
			position: absolute;
			top: 50px;
			left: 15px;
			padding: 10px 40px 10px 10px;
			background: rgb(238, 46, 53); 
			color: rgb(255, 255, 255);
			font-size: 18px;
			font-family: $primary-font-bold;
			.arrow-down {
				position: absolute;
				right: 10px;
				top: 18px;
				display: block;
				width: 12px;
				height: 8px;
				background: url('../img/arrow__select-white--down.png');
				transition: all 0.3s ease;
			}
			&.active {
				background: rgb(78, 78, 78);
				.arrow-down {
					transform: rotate(180deg);
				}
			}
		}
		&-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.container {
				position: relative;
				height: 100%;
			}
			&__title {
				position: absolute;
				left: 15px;
				bottom: 0;
				padding: 0 12px;
				background: rgba(0, 0, 0, 0.3);
				color: rgb(255, 255, 255);
				font-size: 50px;
				font-family: $primary-font-bold;
			}
		}
	}
	&-sample {
		overflow: hidden;
		max-height: 95px;
		margin-bottom: 70px;
		background: rgb(40, 40, 40);
		color: rgb(255, 255, 255);
		line-height: 22px;
		letter-spacing: 1px;
		transition: all 0.5s ease;
		&.active {
			max-height: 1000px;
		}
		.container {
			display: table;
			padding: 20px 20px 0 20px;
		}
		&__col {
			display: table-cell;
			vertical-align: top;
		}		
		&__desc {
			width: 130px;
			padding-right: 25px;
			background: url('../img/icon__sample-arrows.png') right 12px no-repeat;
		}
		&__images {
			padding-left: 20px;
			text-align: left;
			a {
				display: inline-block;
			}
			img {
				margin-right: 20px;
				margin-bottom: 20px;
			}
		}
		&__trigger {
			width: 70px;
			padding: 0;
			text-align: center;
			i {
				display: inline-block;
				margin-top: 5px;
				width: 70px;
				height: 19px;
				transform: rotate(90deg);
				background: url('../img/icon__sample-arrows.png') center center no-repeat;
				transition: all 0.2s linear;
				&.active {
					transform: rotate(270deg);
				}
			}			
		}
	}
	&-images {
		width: 500px;
		margin-bottom: 40px;
	}
	&-desc {
		margin-left: 40px;
		width: 600px;
		margin-bottom: 40px;
		p {
			line-height: 26px;
			font-size: 16px;
			color: rgb(131, 131, 131);
		}
	}
	&-title {
		margin-bottom: 30px;
		line-height: 1;
		font-size: 32px;
		font-family: $primary-font-bold;
	}	
}

.collection {
	margin-bottom: 60px;
	&-desc {
		margin-top: 50px;
		margin-bottom: 50px;
		p {
			font-size: 16px;
			line-height: 26px;
			color: rgb(131, 131, 131);
		}
	}
	&-item {
		position: relative;
		margin-bottom: 50px;
		&__image {
			position: relative;
			margin-bottom: 20px;	
			.catalog-tizers__title {
				left: 0;
				bottom: 10px;
			}
		}
		&__desc {
			.property__title {
				margin-top: 10px;
			}
		}
		&:hover {
			.catalog-tizers-popup {
				z-index: 100;
				opacity: 1;
			}
			.catalog-tizers__loop {
				z-index: 300;
			}
		}
		* {
			font-size: 14px;
		}
	}
}

.recommend {
	overflow: hidden;
	&-title {
		position: relative;
		margin-bottom: 35px;
		h2 {
			font-size: 32px;
			font-family: $primary-font-bold;
		}
		.main-bottom-nav__arrows {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	&-slider {
		margin-bottom: 70px;
		&__item {
			margin-right: 30px;
			&-image {
				width: 100%;
				margin-bottom: 10px;
			}
			&-name {
				font-size: 16px;
				font-family: $primary-font-bold;
			}
		}
		.slick-slide {
			margin: 0 15px;
		}
		.slick-list {
			margin: 0 -15px;
		}
	}	
}

.documents {
	&-tabs {
		padding: 0;
		list-style-type: none;
		&__item {			
			cursor: pointer;
			position: relative;
			margin-bottom: 15px;
			padding-left: 30px!important;
			font-size: 16px;
			color: rgb(131, 131, 131);
			&::before {
				content: '';
				position: absolute;
				top: 9px;
				left: 15px;
				display: inline-block;
				width: 7px;
				height: 7px;
				margin-right: 13px;
				border-right: 2px rgb(131, 131, 131) solid;
				border-bottom: 2px rgb(131, 131, 131) solid;
				transform: rotate(-45deg);
			}
			&:hover, &.active {
				color: rgb(200, 3, 26);
				text-decoration: underline;
				&::before {
					border-color: rgb(200, 3, 26);
				}
			}
		}
		&-content {
			&__item {
				min-height: 300px;
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}
	&-tizer {
		margin-bottom: 30px;
		&__image {
			img {
				width: 100%;
			}
		}
		&__content {
			padding: 30px 15px;
			border: 1px rgb(215, 215, 215) solid;
		}
		&__desc {
			height: 45px;
			margin-bottom: 40px;
			line-height: 24px;
			font-size: 16px;
		}
		&__panel {
			overflow: hidden;
			.btn--arrow-right {
				margin-top: 3px;
				font-size: 14px;
			}
		}
	}
}

.documents-page-tabs__item {
	&.active {
		a {
			background: rgb(200, 3, 26);
			color: rgb(255, 255, 255);
		}
	}
}

.download {
	display: table;
	&__size {
		display: table-cell;
		vertical-align: middle;
		padding-right: 20px;
		color: rgb(131, 131, 131);
		font-size: 12px;
	}
	&__icon {
		display: inline-block;
		width: 20px;
		height: 26px;
		background: url('../img/icon__download.png') center center no-repeat;
	}
}

.catalog-menu {	
	width: 180px;
	float: left;
	list-style-type: none;
	padding: 80px 0 80px 0;
	border-right: 1px rgba(255, 255, 255, 0.2) solid;
	&-wrap {
		z-index: 300;
		position: absolute;
		top: 0;
		width: 100%;
		min-height: 500px;
		padding: 50px 0;
		background: rgba(0, 0, 0, 0.7);
		transform: translateY(-150%);
		opacity: 0;	
		transition: all 1s ease;
		&.active {
			opacity: 1;	
			transform: translateY(0);			
		}
	}
	&__item {
		margin-bottom: 10px;
	}
	&__link {
		display: block;
	    padding: 5px 15px;
	    font-size: 18px;
	    text-transform: uppercase;
	    color: rgb(255, 255, 255);
	    &:hover {
			background: #ed1c24;
			color: white;
			text-decoration: none;
	    }
	}
	&-products {
		width: calc(100% - 180px);
		padding-left: 40px;
		float: right;
	}
	&-slider {
		width: 100%;
		margin-bottom: 70px;
		&__item {
			margin-bottom: 40px;
			color: rgb(255, 255, 255);
			&:hover {
				color: rgb(238, 46, 53);
			}
			img {
				width: 100%;
				margin-bottom: 15px;
			}
			span {
				display: block;
				font-size: 16px;
				color: rgb(255, 255, 255);
			}
		}
		.slick-slide {
			margin: 0 15px;
		}
		.slick-list {
			margin: 0 -15px;
		}
	}
}

.production-tizer {	
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 170px;
	&:last-child {
		margin-bottom: 30px;
	}
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: -120px;
		display: block;
		width: 1px;
		height: 70px;
		background: rgb(184, 184, 184);
	}
	&__image {
		overflow: hidden;
		width: 50%;
		img {
			min-width: 100%;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;	
		background: rgb(255, 255, 255);
		border: 1px rgb(235, 235, 235) solid;
		padding: 0 45px;	
		.bg-line {

		}
		p {
			text-align: justify;
		}
	}
	&:nth-child(odd) &__content {
		order: -1;
	}
}

.question {
	padding: 0!important;
	border: 1px rgb(235, 235, 235) solid;
	&-item ~ &-item {
		border-top: 1px rgb(235, 235, 235) solid;
	}
	&-item {
		&:nth-child(even) {
			background: rgb(252, 252, 252);
		}
		&__title {
			cursor: pointer;
			position: relative;
			padding: 25px 50px;
			font-size: 16px;
			background: url('../img/icon__question.png') 15px 23px no-repeat;
			transition: all 0.3s ease-in-out;
		}
		&__trigger {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 15px;
			width: 25px;
			height: 25px;
			border: 1px rgb(160, 160, 160) solid;
			border-radius: 50%;
			background: url('../img/arrow__select--down.png') center center no-repeat;
			transform: rotate(0deg);
			transition: all 0.3s ease-in-out;
		}
		&__content {
			overflow: hidden;
			max-height: 0px;
			padding: 0 50px 0 50px;
			transition: all 0.3s ease-in-out;
			p {
				color: rgb(108, 108, 108);
				line-height: 20px;
			}
		}
		&.active {
			.question-item__title {
				font-family: $primary-font-bold;
				background-image: url('../img/icon__question--active.png');
			}
			.question-item__trigger {
				transform: rotate(-180deg);
			}
			.question-item__content {
				padding: 10px 50px 30px 50px;
				max-height: 999px;
			}
		}
	}	
}

.share-block {	
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 15px;
	width: 100%;
	height: 65px;
	&__btn-open, &__link {
		width: 70px;
		height: 65px;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: rgb(255, 255, 255);
		background-image: url('../img/icon__share--red.png');
	}
	&__btn-open {
		z-index: 300;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0;
	}
	&__panel {
		position: absolute;
		bottom: 0;
		right: 70px;
		z-index: 200;
		transform: translateX(100%);
		transition: transform 0.5s ease-out;
		&.active {
			transform: translateX(0);
		} 
	}
	&__link {
		display: block;
		float: left;
		&--in {
			background-color: rgb(0, 119, 181);
			background-image: url('../img/icon__instagramm.png');
		}
		&--fb {
			background-color: rgb(73, 97, 148);
			background-image: url('../img/icon__facebook.png');
		}
		&--google {
			background-color: rgb(255, 109, 74);
			background-image: url('../img/icon__google-plus.png');
		}
		&--mail {
			background-color: rgb(131, 179, 202);
			background-image: url('../img/icon__mail.png');
		}
	}
}

.share-bottom {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.breadcrumbs {
	width: 100%;
	list-style-type: none;
	margin: 20px 0 40px 0;
	padding: 0;
	font-size: 14px;
	li {		
		display: inline-block;
	}
	li + li {
		margin-left: 8px;
	}
	&__item {

	}
	&__sep {
		position: relative;
		width: 10px;
		height: 2px;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: -2px;
			width: 100%;
			height: 2px;
			line-height: 20px;
			background: rgba(131, 131, 131, 0.8);
		}
	}
	&__link {
		color: rgb(131, 131, 131);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	span {
		color: rgb(131, 131, 131);
	}
}

.share-panel {

}

.bg-video-button {
	cursor: pointer;
}

.bg-video-overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
}

.menu-bottom {
	display: none;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;	
	padding: 40px 0;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: rgb(222, 222, 222);
	list-style-type: none;
	&-inner-wrap {		
		border-width: 1px 0 1px 0;
		border-style: solid;
		border-color: rgb(222, 222, 222);
	}
	&-inner {
		display: flex;
		margin: 0;
		border: none;
	}
	&-wrap {
		width: calc(100% + 30px);
	}
	&__item {
		position: relative;
		padding: 0 20px;
	}
	&__sep {
		width: 1px;
		height: 20px;
		background: rgb(222, 222, 222);	
	}
	&__link {
		font-size: 16px;
		color: rgb(0, 0, 0);
		text-decoration: none;
		&:focus {
			color: rgb(0, 0, 0);
		}
	}
}

.scroll-up {
	display: none;
	margin-top: 40px;
	width: calc(100% + 30px);
	padding: 35px 0;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: rgb(222, 222, 222);
	background: rgb(245, 245, 245);
	text-align: center;
	&__button {
		display: inline-block;
		width: 34px;
		height: 34px;
		background-image: url('../img/main__arrow-down.png');
		background-repeat: no-repeat;
		background-position: center center;
		transform: rotate(180deg);
	} 
}

.visible-xss {
	display: none!important;
}

.bg-video-mobile {
	z-index: -1;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto;
	height: auto; 
}
.bg-video-mobile .bg-video {
	display: none;
}

@media (min-aspect-ratio: 16/9) {
	.bg-video { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
	.bg-video { width: 300%; left: -100%; }
}
/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
	.bg-video {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.bgVideo-controll {
	opacity: 0;
	z-index: 1500;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: auto;
	width: 120px;
	padding: 20px 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	transition: opacity 1.5s ease;
	&.active {
		opacity: 1;
	}
	&__stop {
		cursor: pointer;
		display: block;
		width: 30px;
		height: 30px;
		margin: 0 auto;
		border-radius: 5px;
		background: rgb(255, 255, 255);
		&:hover {
			box-shadow: 0 0 5px rgb(255, 255, 255);
		}
	}
}