.contacts {
	&-search-form {
		position: relative;
		margin-bottom: 30px;
		margin-top: 30px;	
		&__input {
			width: 100%;
			padding: 15px 20px;
			border: 1px rgb(229, 229, 229) solid;
			background: rgb(247, 247, 247);
			font-size: 16px;
			color: rgb(169, 169, 169);
			outline: none;
		}
		&__submit {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 50px;
			margin: 0!important;	
			background-color: rgba(255, 255, 255, 0);
			border: none;
		}
	}
	&-form-wrap {
		position: relative;
		margin-top: 100px;
		padding: 120px 0 70px 0;
		background: rgb(245, 245, 245);
		&::before {
			content: '';
			position: absolute;
			width: 4px;
			height: 80px;
			top: -40px;
			left: calc(50% - 4px);
			background: rgb(215, 3, 27);
		}
	}
	&-form {
		&__title {
			margin-bottom: 80px;
			font-size: 42px;
			font-family: $primary-font-bold;
		}
		&__input {
			width: 100%;
			margin-bottom: 60px;
			padding: 15px 0;
			border-width: 0 0 2px 0;
			border-style: solid;
			border-color: rgb(197, 197, 197);
			background: none;
			font-size: 16px;
			outline: none;
			&:focus {
				border-color: rgb(215, 3, 27);
			}
		}
		&__submit {
			padding: 15px 80px;
			background: rgb(215, 3, 27);
			border: none;
			border-radius: 40px;
			font-size: 18px;
			font-family: $primary-font-bold;
			letter-spacing: 4px;
			color: rgb(255, 255, 255);
			outline: none;
		}
	}
}

.subscribe {
	position: relative;	
	&__input {
		padding: 10px 50px 10px 20px;
		border: 1px rgb(183, 183, 183) solid;
		color: rgb(0, 0, 0);
		letter-spacing: 1px;
	}
	&__button {
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		right: 0;
		padding: 0 15px;
		border: none;
		background: url('../img/arrow__button-long--red.png') center center no-repeat;
	}
}

.form-reg {
	position: relative;
	text-align: center;
	.back-link {
		top: 0;
		left: 15px;
	}
	&__title {
		margin-bottom: 40px;
		font-size: 22px;
		font-family: $primary-font-bold;
	}
	&__desc {
		margin: 40px 0;
		font-size: 16px;
	}
	&__row {
		overflow: hidden;
		margin-bottom: 50px;
	}
	input[type="text"], input[type="mail"] {
		width: 48%;
		margin-top: 30px;
		padding: 15px 20px;
		background: rgb(247, 247, 247);
		border: 1px rgb(229, 229, 229) solid;		
	}
	input ~ input {
		margin-left: 3%;
	}
	input[type="submit"] {
		max-width: 95%;
		padding: 15px 40px;
		background: rgb(215, 3, 27);
		border: none;
		border-radius: 40px;
		font-size: 18px;
		font-family: $primary-font-bold;
		letter-spacing: 4px;
		color: rgb(255, 255, 255);
		outline: none;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;
		&.disabled {
			background: rgb(189, 189, 189);
		}
	}
	&-tizer {
		overflow: hidden;
		cursor: pointer;
		position: relative;
		padding-top: 25px;
		padding-bottom: 35px;
		border: 1px rgb(215, 215, 215) solid;
		&__image {
			height: 75px;
			line-height: 75px;
			margin-bottom: 30px;
			img {
			}
		}
		&__desc {
			font-size: 16px;
			text-transform: uppercase;
		}
		&__popup {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			padding: 15px 15px 0 15px;
			background: rgb(200, 3, 26);
			transform: scale(2, 2);
			transition: all 0.3s ease-in-out;
			opacity: 0;
			p {
				color: rgb(255, 255, 255);
			}
			.form-reg-tizer__desc {
				width: 90%;
				position: absolute;
				bottom: 35px;
				text-align: center;
				color: rgb(255, 255, 255);
			}
		}
		.active &__popup {
			transform: scale(1, 1);
			opacity: 1;
		}
	}
}

.form-login {
	position: relative;
	margin-top: 20vh;
	background: rgb(255, 255, 255);
	text-align: center;
	&__title {
		padding: 60px 0 35px 0;
		border-bottom: 1px rgb(240, 240, 240) solid;
		font-size: 42px;
		line-height: 42px;
		font-weight: bold;
		font-family: $primary-font-bold;
		text-transform: uppercase;
	}
	&__body {
		padding: 40px 70px;
	}
	&__row {
		a {
			color: rgb(131, 131, 131);
			font-size: 14px;
			&:hover, &:focus {
				color: rgb(131, 131, 131);
			}
		}
	}
	input[type="text"] {
		width: 100%;
		margin-bottom: 20px;
	    padding: 15px 45px 15px 20px;
	    background-color: rgb(247, 247, 247);
	    border: 1px #e5e5e5 solid;
	    background-repeat: no-repeat;
	    background-position: calc(100% - 15px) center;
	}
	&__log {
		background-image: url('../img/icon__avatar.png');
	}
	&__psw {
		background-image: url('../img/icon__password.png');
	}
	input[type="submit"] {
		max-width: 95%;
		margin-top: 35px;
	    padding: 15px 65px;
	    background: rgb(200, 30, 6);
	    border: none;
	    border-radius: 40px;
	    font-size: 18px;
	    font-family: FreeSetBold;
	    letter-spacing: 4px;
	    color: rgb(255, 255, 255);
	    outline: none;
	    text-transform: uppercase;
	    transition: all 0.3s ease-in-out;	
	}
	&__footer {
		padding: 30px 0;
		background: rgb(247, 247, 247);
		font-size: 16px;
		font-weight: bold;
		a {
			color: rgb(200, 30, 6);
			&:hover, &:focus {
				color: rgb(200, 30, 6);
			}
		}
	}
	.box-modal_close {
		top: 0;
		right: 0!important;
		height: 50px;
		width: 50px;
		background: rgb(200, 30, 6);
		&::before, &::after {
			width: 50%;
			height: 2px;
			border-radius: 0;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
		}
	}
}