.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0;
}
.ui-widget.ui-widget-content {
	overflow-x: hidden;
	overflow-y: auto;
	border: none;
	z-index: 500;
}
.ui-widget-content {
	height: 100%!important;
}
.ui-dialog {
	position: fixed!important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
	background: rgba(0, 0, 0, 0.7);	
}
.ui-widget-header {
	display: none;
}
.ui-dialog .container {
	position: relative;
}
.ui-dialog .box-modal_close {
	display: block;
	right: 25px;
}
.ui-widget-content  {
	width: 100%!important;
}
.ui-widget-content .btn--arrow-right {
	color: rgb(225, 0, 26);
}

.search-layout__form {
	display: table;
	height: 100%;
}
.search-form {	
	display: table-cell;
	vertical-align: middle;
}