.main-menu-slider-wrap
	.main-menu-slider
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-1.jpg", alt="")
			span.main-menu-slider__title ARTWOOD NEW
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-2.jpg", alt="")
			span.main-menu-slider__title LUX
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-3.jpg", alt="")
			span.main-menu-slider__title BRIGANTINA
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-4.jpg", alt="")
			span.main-menu-slider__title TASTE
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-3.jpg", alt="")
			span.main-menu-slider__title BRIGANTINA
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-4.jpg", alt="")
			span.main-menu-slider__title TASTE
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-3.jpg", alt="")
			span.main-menu-slider__title BRIGANTINA
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-4.jpg", alt="")
			span.main-menu-slider__title TASTE
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-1.jpg", alt="")
			span.main-menu-slider__title ARTWOOD NEW
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-2.jpg", alt="")
			span.main-menu-slider__title LUX
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-4.jpg", alt="")
			span.main-menu-slider__title TASTE
		a.main-menu-slider__item(href="#")
			img.main-menu-slider__image(src="img/main-menu__img-1.jpg", alt="")
			span.main-menu-slider__title ARTWOOD NEW
	.main-menu-slider-nav
		a.btn--arrow-right.pull-left(href="#") SEE ALL
		.main-menu-arrows.pull-right
			button.arrow.arrow-prev
			button.arrow.arrow-next