.modal-hidden
	#main-menu-modal.main-menu-container
		.container
			.box-modal_close
			.main-menu-layout
				.col-sm-3.main-menu-layout__col
					.row
						ul.main-menu.main-menu-lvl-1
							li.main-menu__item
								a.main-menu__link(href="/") Main page
							li.main-menu__item
								a.main-menu__link.main-menu__link--isChild(href="#") Catalogue
								ul.main-menu-sub.hidden-lg.hidden-md.hidden-sm
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Marble
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Stone
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Wood
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Cement
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Design
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Commercial
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Vertical
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Ceramic tile
									li.main-menu-sub__item
										a.main-menu-sub__link(href="#") Decoration
								.main-menu-slider-mobile.hidden-lg.hidden-md.hidden-sm
									include modal__slider.jade
							li.main-menu__item
								a.main-menu__link(href="#") Documents
							li.main-menu__item
								a.main-menu__link(href="/portfolio.html") Portfolio
							li.main-menu__item
								a.main-menu__link(href="/news.html") News&Events
							li.main-menu__item
								a.main-menu__link(href="/history.html") About
							li.main-menu__item
								a.main-menu__link(href="/contacts.html") Contacts
				.col-sm-3.main-menu-layout__col.hidden-xs
					.row
						ul.main-menu-sub
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Marble
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Stone
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Wood
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Cement
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Design
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Commercial
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Vertical
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Ceramic tile
							li.main-menu-sub__item
								a.main-menu-sub__link(href="#") Decoration
				.col-sm-6.main-menu-layout__col.hidden-xs
					include modal__slider.jade