include templates/head.jade
include templates/preloader.jade
body
	.inner-wrapper
		include templates/header.jade
		section.inner-content
				.model-top
					.model-top-slider
						div
							img.hidden-sm.hidden-xs(src="/img/catalog-model__slide.jpg", alt="")
							img.visible-sm.hidden-xss.visible-xs(src="/img/catalog-model-mobile__slide.jpg", alt="")
							img.visible-sm.visible-xss(src="/img/catalog-model-mobile-1__slide.jpg", alt="")
						div
							img.hidden-sm.hidden-xs(src="/img/catalog-model__slide.jpg", alt="")
							img.visible-sm.hidden-xss.visible-xs(src="/img/catalog-model-mobile__slide.jpg", alt="")
							img.visible-sm.visible-xss(src="/img/catalog-model-mobile-1__slide.jpg", alt="")
						div
							img.hidden-sm.hidden-xs(src="/img/catalog-model__slide.jpg", alt="")
							img.visible-sm.hidden-xss.visible-xs(src="/img/catalog-model-mobile__slide.jpg", alt="")
							img.visible-sm.visible-xss(src="/img/catalog-model-mobile-1__slide.jpg", alt="")
					.model-top-slider__nav.slider-dots
					.model-top-content
						.container
							button.btn-catalog-menu 
								| Catalogue
								i.arrow-down
							.model-top-content__title CAPRI
							.share-block
								button.share-block__btn-open
								.share-block__panel
									a.share-block__link.share-block__link--in(href="#")
									a.share-block__link.share-block__link--fb(href="#")
									a.share-block__link.share-block__link--google(href="#")
									a.share-block__link.share-block__link--mail(href="#")
					include templates/catalog-menu.jade
				.container
					.collection-desc
						p The bright sun, white sand and warm waves, the incredible beauty of the Mediterranean landscape - this is what you start to think at first glance at the new collection of porcelain stoneware Capri. Darting tile veins, intricately intertwined, leave no doubt that in front of you a real marble - stone, able to emphasize the refined aristocratic any interior. Each tile has a unique design with a natural, a little relief to the touch surface. The collection is represented in two colors. According to its characteristics tiles Capri is ideal for medium traffic segment. It hotels, bars restaurants, office buildings, retail outlets, private residential interiors and others. Tile is also suitable for external cladding of buildings.
					.row.collection
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
								span.catalog-tizers__title CP 01
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-2.jpg", alt="")
								span.catalog-tizers__title CP 02
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-3.jpg", alt="")
								span.catalog-tizers__title CP 11
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-4.jpg", alt="")
								span.catalog-tizers__title CP 01
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-5.jpg", alt="")
								span.catalog-tizers__title CP 02
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-6.jpg", alt="")
								span.catalog-tizers__title CP 11
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-7.jpg", alt="")
								span.catalog-tizers__title CP 01
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-8.jpg", alt="")
								span.catalog-tizers__title CP 02
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
						.col-sm-4.col-xs-6.collection-item
							.collection-item__image
								img.img-responsive(src="/img/catalog__collection-9.jpg", alt="")
								span.catalog-tizers__title CP 11
								.catalog-tizers__loop
							.collection-item__desc
								.property__title Available sizes
								.row
									.col-md-6
										.property__value 40 x 40 (16x16”)
									.col-md-6
										.property__value 30 x 60 (12x24”)
									.col-md-6
										.property__value 30 x 30 (12x12”)
								.property__title Available sizes
								.row
									.col-sm-4.col-xs-6
										.property__value Option 1
							.catalog-tizers-popup.hidden-xs
								.catalog-tizers-popup__image
									img.img-responsive(src="/img/catalog__collection-1.jpg", alt="")
									span.catalog-tizers__title CP 01
								.catalog-tizers-popup__desc
									.property-block.property-block--popup
										.property__title Available sizes
										.col-xs-6
											.property__value 40 x 40 (16x16”)
										.col-xs-6
											.property__value 30 x 60 (12x24”)
										.property__title Available sizes
										.col-sm-4.col-xs-6
											.property__value Option 1
									.property-block.property-block--popup
										.row
											span.col-xs-12
												p
													span.property__name Family:
													span Marble
											span.col-xs-12
												p
													span.property__name Serial:
													span Vertical
											span.col-xs-12
												p
													span.property__name Collection:
													span Capry
									.property-block.property-block--popup
										.property__title Suits for:
										.property-block__image
											img(src="/img/icon__model-1.png", alt="")
											img(src="/img/icon__model-2.png", alt="")
											img(src="/img/icon__model-3.png", alt="")
								a.catalog-tizers-link(href="#")
									span.btn--arrow-right.btn--arrow-right-white LEARN MORE
					.hr
					.container.text-center
						button.btn--show-more Show more
				.property-tabs-wrap
					.container
						.property-tabs
							.property-tabs__item Documents
							.property-tabs__item Featuress
							.property-tabs__item Counts
							.property-tabs__item Packing and weights
							.property-tabs__item Decorss
							.property-tabs__item Special trims
				.property-tabs-content-wrap
					.container
						.property-tabs-content
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)	
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)	
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)	
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)	
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)	
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)	
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)	
							.property-tabs-content-item
								.property-table__title Title
								.table-responsive
									table.property-table.table
										tbody
											tr
												td Name in table
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
												td 30x30 (12x12”)
											tr
												td One more name
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
												td 20x20 (8x8”)
											tr
												td Name in table
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)
												td 12 (0,47”)						
				.menu-bottom-inner-wrap.hidden-xs
					.container
						.row
							ul.menu-bottom.menu-bottom-inner
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Catalogue
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Documents
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Portfolio
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") News&Events
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") About
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Contacts
				include templates/footer-inner.jade	
	include templates/search-modal.jade
	include templates/main-menu/modal.jade