include templates/head.jade
include templates/preloader.jade
body
	.inner-wrapper
		include templates/header.jade
		section.inner-content
				.personal
					.container
						.page-title.page-title--white Wellcome Alexey
						.tabs-panel
							button.tabs-menu-btn.btn-menu-dropdown Documents
							ul.tabs-menu.menu-dropdown
								li.tabs-menu__item.documents-page-tabs__item
									a.tabs-menu__link(href="#") Certificates
								li.tabs-menu__item.documents-page-tabs__item
									a.tabs-menu__link(href="#") Catalogues
								li.tabs-menu__item.documents-page-tabs__item
									a.tabs-menu__link(href="#") Technical information
								li.tabs-menu__item.documents-page-tabs__item
									a.tabs-menu__link(href="#") Expertise conclusion							
				.personal-form-wrap
					.container
						.personal-form							
							.documents-tabs-content
								.documents-tabs-content__item
									.row
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc General Catalogue ESTIMA 2016
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Catalogue of Compliance for glazed ceramic granite (frost F200)
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Certificate of Conformity: catalogue ESTIMA Samara    
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc General Catalogue ESTIMA 2016
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Catalogue of Compliance for glazed ceramic granite (frost F200)
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Certificate of Conformity: catalogue ESTIMA Samara    
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
								.documents-tabs-content__item
									.row
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc General Catalogue ESTIMA 2016
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Catalogue of Compliance for glazed ceramic granite (frost F200)
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Certificate of Conformity: catalogue ESTIMA Samara    
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
								.documents-tabs-content__item
									.row
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc General Catalogue ESTIMA 2016
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Catalogue of Compliance for glazed ceramic granite (frost F200)
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Certificate of Conformity: catalogue ESTIMA Samara    
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
								.documents-tabs-content__item
									.row
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc General Catalogue ESTIMA 2016
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Certificate of Conformity: catalogue ESTIMA Samara    
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
										.col-md-4.col-sm-6.documents-tizer
											.documents-tizer__content
												.documents-tizer__desc Catalogue of Compliance for glazed ceramic granite (frost F200)
												.documents-tizer__panel
													a.btn--arrow-right.pull-left(href="#") LEARN MORE
													.download.pull-right
														.download__size 435 Kb
														a.download__icon(href="#")
				.menu-bottom-inner-wrap.hidden-xs
					.container
						.row
							ul.menu-bottom.menu-bottom-inner
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Catalogue
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Documents
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Portfolio
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") News&Events
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") About
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Contacts
				include templates/footer-inner.jade				
	include templates/search-modal.jade
	include templates/main-menu/modal.jade