include templates/head.jade
include templates/preloader.jade
body
	.inner-wrapper
		include templates/header.jade
		section.inner-content
				.history(style="background-image: url('/img/bg__history-slider-full.jpg');")
					.container
						.page-title.page-title--white About
						.tabs-panel
							button.tabs-menu-btn.btn-menu-dropdown History
							ul.tabs-menu.menu-dropdown
								li.tabs-menu__item
									a.tabs-menu__link.active(href="#") History
								li.tabs-menu__item
									a.tabs-menu__link(href="/production.html") Production
								li.tabs-menu__item
									a.tabs-menu__link(href="#") Tech info
								li.tabs-menu__item
									a.tabs-menu__link(href="/question.html") FAQ
							button.tabs-panel-btn.tabs-panel-btn--question
								| Ask a Question
								i
					.container.history-slider-wrap
						.history-slider-bg.hidden
							.history-slider-bg__item
								img.hidden-sm.hidden-xs(src="/img/bg__history-slider-full.jpg", alt="")
								img.visible-sm.visible-xs(src="/img/bg__history-slider.jpg", alt="")
							.history-slider-bg__item
								img.hidden-sm.hidden-xs(src="/img/bg__history-slider-full.jpg", alt="")
								img.visible-sm.visible-xs(src="/img/bg__history-slider.jpg", alt="")
							.history-slider-bg__item
								img.hidden-sm.hidden-xs(src="/img/bg__history-slider-full.jpg", alt="")
								img.visible-sm.visible-xs(src="/img/bg__history-slider.jpg", alt="")
							.history-slider-bg__item
								img.hidden-sm.hidden-xs(src="/img/bg__history-slider-full.jpg", alt="")
								img.visible-sm.visible-xs(src="/img/bg__history-slider.jpg", alt="")
							.history-slider-bg__item
								img.hidden-sm.hidden-xs(src="/img/bg__history-slider-full.jpg", alt="")
								img.visible-sm.visible-xs(src="/img/bg__history-slider.jpg", alt="")
							.history-slider-bg__item
								img.hidden-sm.hidden-xs(src="/img/bg__history-slider-full.jpg", alt="")
								img.visible-sm.visible-xs(src="/img/bg__history-slider.jpg", alt="")
							.history-slider-bg__item
								img.hidden-sm.hidden-xs(src="/img/bg__history-slider-full.jpg", alt="")
								img.visible-sm.visible-xs(src="/img/bg__history-slider.jpg", alt="")
						.history-slider
							.history-slider-item
								.history-slider-item-bg
									img(src="/img/bg__history-slider-small.jpg", alt="")
								.history-slider-item__title 2001
								.history-slider-item__content
									p In 2011 ESTIMA Ceramica company celebrated 10 years anniversary.
									p IBy this date, ESTIMA Ceramica issued at once 6 new collections of lacquered and technical porcelain gres under one name Music of Stone. The year became especially important one for ESTIMA enterprise, aiming at new targets to achieve leading positions in premium segment of porcelain gres domestic market.
							.history-slider-item
								.history-slider-item-bg
									img(src="/img/bg__history-slider-small.jpg", alt="")
								.history-slider-item__title 2002
								.history-slider-item__content
									p In 2011 ESTIMA Ceramica company celebrated 10 years anniversary.
									p IBy this date, ESTIMA Ceramica issued at once 6 new collections of lacquered and technical porcelain gres under one name Music of Stone. The year became especially important one for ESTIMA enterprise, aiming at new targets to achieve leading positions in premium segment of porcelain gres domestic market.
							.history-slider-item
								.history-slider-item-bg
									img(src="/img/bg__history-slider-small.jpg", alt="")
								.history-slider-item__title 2005
								.history-slider-item__content
									p In 2011 ESTIMA Ceramica company celebrated 10 years anniversary.
									p IBy this date, ESTIMA Ceramica issued at once 6 new collections of lacquered and technical porcelain gres under one name Music of Stone. The year became especially important one for ESTIMA enterprise, aiming at new targets to achieve leading positions in premium segment of porcelain gres domestic market.
							.history-slider-item
								.history-slider-item-bg
									img(src="/img/bg__history-slider-small.jpg", alt="")
								.history-slider-item__title 2006
								.history-slider-item__content
									p In 2011 ESTIMA Ceramica company celebrated 10 years anniversary.
									p IBy this date, ESTIMA Ceramica issued at once 6 new collections of lacquered and technical porcelain gres under one name Music of Stone. The year became especially important one for ESTIMA enterprise, aiming at new targets to achieve leading positions in premium segment of porcelain gres domestic market.
							.history-slider-item
								.history-slider-item-bg
									img(src="/img/bg__history-slider-small.jpg", alt="")
								.history-slider-item__title 2007
								.history-slider-item__content
									p In 2011 ESTIMA Ceramica company celebrated 10 years anniversary.
									p IBy this date, ESTIMA Ceramica issued at once 6 new collections of lacquered and technical porcelain gres under one name Music of Stone. The year became especially important one for ESTIMA enterprise, aiming at new targets to achieve leading positions in premium segment of porcelain gres domestic market.
							.history-slider-item
								.history-slider-item-bg
									img(src="/img/bg__history-slider-small.jpg", alt="")
								.history-slider-item__title 2010
								.history-slider-item__content
									p In 2011 ESTIMA Ceramica company celebrated 10 years anniversary.
									p IBy this date, ESTIMA Ceramica issued at once 6 new collections of lacquered and technical porcelain gres under one name Music of Stone. The year became especially important one for ESTIMA enterprise, aiming at new targets to achieve leading positions in premium segment of porcelain gres domestic market.
							.history-slider-item
								.history-slider-item-bg
									img(src="/img/bg__history-slider-small.jpg", alt="")
								.history-slider-item__title 2011
								.history-slider-item__content
									p In 2011 ESTIMA Ceramica company celebrated 10 years anniversary.
									p IBy this date, ESTIMA Ceramica issued at once 6 new collections of lacquered and technical porcelain gres under one name Music of Stone. The year became especially important one for ESTIMA enterprise, aiming at new targets to achieve leading positions in premium segment of porcelain gres domestic market.
						.history-slider-years
							.history-slider-years__item 2001
							.history-slider-years__item 2002
							.history-slider-years__item 2005
							.history-slider-years__item 2006
							.history-slider-years__item 2007
							.history-slider-years__item 2010
							.history-slider-years__item 2011
						.history-slider-arrows
									button.arrow.arrow-prev
									button.arrow.arrow-next
				.menu-bottom-inner-wrap.hidden-xs
					.container
						.row
							ul.menu-bottom.menu-bottom-inner
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Catalogue
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Documents
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Portfolio
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") News&Events
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") About
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Contacts
				include templates/footer-inner.jade				
	include templates/search-modal.jade
	include templates/main-menu/modal.jade
	include templates/login-modal.jade