include templates/head.jade
include templates/preloader.jade
body
	.inner-wrapper
		include templates/header.jade
		section.inner-content.inner-content--border-top
				.container
					.page-title NEWS & EVENTS
				.news-slider-wrap
					.news-slider.news-page-slider.desktop
						.news-slider__item
							.news-slider__image
								img.hidden-xs(src="/img/news__header.jpg", alt="")
								img.visible-xs.hidden-xss(src="/img/news__header-1.jpg", alt="")
								img.visible-xss(src="/img/news__header-2.jpg", alt="")
							.news-slider__content
								div
									.news-slider__title Promo START for this site
									p Conveniently, the raws divided into main raw additional Birthday Celebration of show-room «ESTIMA Ceramic Studio« Krasnodar!
						.news-slider__item
							.news-slider__image
								img.hidden-xs(src="/img/news__header.jpg", alt="")
								img.visible-xs.hidden-xss(src="/img/news__header-1.jpg", alt="")
								img.visible-xss(src="/img/news__header-2.jpg", alt="")
							.news-slider__content
								div
									.news-slider__title Promo START for this site
									p Conveniently, the raws divided into main raw additional Birthday Celebration of show-room «ESTIMA Ceramic Studio« Krasnodar!
						.news-slider__item
							.news-slider__image
								img.hidden-xs(src="/img/news__header.jpg", alt="")
								img.visible-xs.hidden-xss(src="/img/news__header-1.jpg", alt="")
								img.visible-xss(src="/img/news__header-2.jpg", alt="")
							.news-slider__content
								div
									.news-slider__title Promo START for this site
									p Conveniently, the raws divided into main raw additional Birthday Celebration of show-room «ESTIMA Ceramic Studio« Krasnodar!
					.news-slider-dots.slider-dots
				.container
					.news-tabs
						button.btn-menu-dropdown.visible-xs ALL
						ul.tabs.menu-dropdown
							li.tabs__item 
								a(href="#") ALL
							li.tabs__item 
								a(href="#") NEWS
							li.tabs__item 
								a(href="#") EVENTS
							li.tabs__item 
								a(href="#") ARCTICLES
							li.tabs__item 
								a(href="#") PROMO
							li.tabs__item 
								a(href="#") EXHIBITION
					.news-content
						.row
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-1.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-2.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-3.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-4.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-5.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-6.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-7.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-8.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-8.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
					.news-content
						.row
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-5.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-6.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-7.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-8.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
					.news-content
						.row
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-1.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-2.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-3.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-4.jpg", alt="")
									.news-item__content
										.news-item__text
											p International Construction and Interior Exhibition BATIMAT RUSSIA 2016!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
					.news-content
						.row
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-1.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-2.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-3.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
					.news-content
						.row
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-7.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-8.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-5.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
					.news-content
						.row
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-4.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-5.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
							.col-md-6.news-item
								a(href="#")
									img.news-item__image(src="/img/main-news__item-6.jpg", alt="")
									.news-item__content
										.news-item__text
											p Birthday Celebrationof show-room ESTIMA Ceramic Studio Krasnodar!
										.news-item__info
											span.news-item__info--category News
											span.news-item__info--date 22 August, 2016
				.menu-bottom-inner-wrap.hidden-xs
					.container
						.row
							ul.menu-bottom.menu-bottom-inner
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Catalogue
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Documents
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Portfolio
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") News&Events
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") About
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Contacts
				include templates/footer-inner.jade				
	include templates/search-modal.jade
	include templates/main-menu/modal.jade