include templates/head.jade
include templates/preloader.jade
body
	.inner-wrapper
		include templates/header.jade
		section.inner-content
				.personal
					.container
						.personal__name Wellcome Alexey
						.personal-panel
							button.personal-menu-btn Documents
							ul.personal-menu
								li.personal-menu__item
									a.personal-menu__link(href="/personal.html") profile
								li.personal-menu__item
									a.personal-menu__link.active(href="#") Promo
								li.personal-menu__item
									a.personal-menu__link(href="/personal-documents.html") documents
							button.personal__logout
								| exit
								i
				.personal-form-wrap
					.container
						.personal-form
							.row
								.col-md-4.col-sm-6.documents-tizer
									.documents-tizer__image
										img(src="/img/promo-1.jpg", alt="")
									.documents-tizer__content
										.documents-tizer__desc Certificate of resistance to surface abrasion for collections: JZ - BL
										.documents-tizer__panel
											a.btn--arrow-right.pull-left(href="#") LEARN MORE
								.col-md-4.col-sm-6.documents-tizer
									.documents-tizer__image
										img(src="/img/promo-2.jpg", alt="")
									.documents-tizer__content
										.documents-tizer__desc Certificate of Compliance for glazed ceramic granite (frost F200)
										.documents-tizer__panel
											a.btn--arrow-right.pull-left(href="#") LEARN MORE
								.col-md-4.col-sm-6.documents-tizer
									.documents-tizer__image
										img(src="/img/promo-3.jpg", alt="")
									.documents-tizer__content
										.documents-tizer__desc Certificate of Conformity: ESTIMA Samara
										.documents-tizer__panel
											a.btn--arrow-right.pull-left(href="#") LEARN MORE
				.menu-bottom-inner-wrap.hidden-xs
					.container
						.row
							ul.menu-bottom.menu-bottom-inner
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Catalogue
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Documents
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Portfolio
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") News&Events
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") About
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Contacts
				include templates/footer-inner.jade				
	include templates/search-modal.jade
	include templates/main-menu/modal.jade