include templates/head.jade
include templates/preloader.jade
body
	.inner-wrapper
		include templates/header.jade
		section.inner-content
				.personal
					.container
						.page-title.page-title--white 
							| Forgot your password?	
							button.btn--personal.hidden-xs
								| LOG IN
								i
				.personal-form-wrap
					.container
						.container--float.container--text-content
							.row
								form.form-reg
									.form-reg__title Choose whom to register
									.form-reg__row
										.col-md-4
											.form-reg-tizer
												.form-reg-tizer__image
													img(src="/img/icon__reg--dealer.png", alt="")
												.form-reg-tizer__desc Dealer
												.form-reg-tizer__popup
													p Dealer, a person who sells on behalf of a company or organization, particularly in the automobile industry
													.form-reg-tizer__desc Dealer
										.col-md-4
											.form-reg-tizer
												.form-reg-tizer__image
													img(src="/img/icon__reg--designer.png", alt="")
												.form-reg-tizer__desc Designer
												.form-reg-tizer__popup
													p Dealer, a person who sells on behalf of a company or organization, particularly in the automobile industry
													.form-reg-tizer__desc Designer
										.col-md-4
											.form-reg-tizer
												.form-reg-tizer__image
													img(src="/img/icon__reg--bonus.png", alt="")
												.form-reg-tizer__desc Bonus club
												.form-reg-tizer__popup
													p Dealer, a person who sells on behalf of a company or organization, particularly in the automobile industry
													.form-reg-tizer__desc Bonus club
									.form-reg__row
										input.form-reg-submit.disabled(type="submit" value="Continue" disabled)
				.menu-bottom-inner-wrap.hidden-xs
					.container
						.row
							ul.menu-bottom.menu-bottom-inner
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Catalogue
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Documents
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Portfolio
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") News&Events
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") About
								li.menu-bottom__sep
								li.menu-bottom__item
									a.menu-bottom__link(href="#") Contacts
				include templates/footer-inner.jade				
	include templates/search-modal.jade
	include templates/main-menu/modal.jade